:root {
    --blue: #009FFD;
    --white: #FFFFFF;
    --dark-grey: #353535;
    --light-grey: #808080;
    --dark-blue: #005A8F
}

body {
    background-color: var(--blue);
    color: white;
}

header{
    padding-bottom: 5%;
}

footer{
    background-color: var(--dark-grey);
}


li>a{
    color: var(--white);
    font-style: italic;
}

li>a:hover {
    font-weight: bold;
}

#action-centre {
    text-align: center;
    border-radius: 25px;
    background-color: var(--dark-grey);
    border-color: var(--light-grey);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 250px;
    height: 200%;
    float: center;
    margin-left: 10%;
    padding: 5%;
    margin: 0 auto;
}

a {
    color: var(--white);
}

a:hover {
    font-weight: bold;
}


.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}


.card, .noHoverCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 


 .card > img, .noHoverCard > img{
     width: 75%;
     height: auto;
 }
 
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }